.container {
    display: flex;
    justify-content: space-between; /* Changed from center to space-between */
    gap: 1rem;
    margin-right: -2rem;
    max-width: 100%;
}

.container > * {
    flex: 1;
}

.col1 {
    flex: 1; /* Changed from 4 1 to 1 */
}

.col2 {
    flex: 1; /* Changed from 5 1 to 1 */
}

.col3 {
    flex: 1; /* Changed from 3 1 to 1 */
}

.profilePicContainer {
    float: right;
    margin: 10px;
}

.referenceLink {
    cursor: pointer;
    color: white;
    text-decoration: none;
}

.referenceLink:hover {
    text-decoration: underline;
}

.skillContainer {
    display: flex;
    flex-flow: row wrap;
    text-align: center;
    justify-content: left;
}

.skillContainer > * {
    width: 100px;
    margin-bottom: 1rem;
    margin-right: 1rem;
}

.container > div:not(:last-child) {
    border-right: 1px solid var(--accent-color);
    padding-right: 1rem;
}

.container h1 {
    margin-bottom: 2rem;
    font-size: 1.5rem;
}

.flex {
    display: flex;
    gap: 1rem;
}

.heading {
    color: #e6b450;
    text-align: center;
    margin-left: auto;
    margin-bottom: auto;
}

.heading2 {
    color: #e6b450;
    text-align: center;
    margin-left: auto;
    margin-bottom: auto;
}

.heading3 {
    color: #e6b450;
    text-align: center;
    margin-left: auto;
    margin-bottom: auto;
}

.education {
    color: #e6b450;
    margin-left: 165px;
}

.ex1 {
    text-align: center;
    margin-left: auto;
    margin-bottom: auto;
    color: #e6b450;
    margin-bottom: 1rem; /* Added margin-bottom */
}

.certContainer {
    display: flex;
    flex-direction: column;
}

.icon-pdf-container {
    vertical-align: middle;
    margin-right: 0.35rem;
}

.icon-pdf {filter: var(--color-filter-red-dark);}
a:hover .icon-pdf {filter: var(--color-filter-red-light);}

.icon-arrow-container {
    vertical-align: middle;
    margin-left: 0.35rem;
}

.icon-arrow {filter: var(--color-filter-gray-dark);}
a:hover .icon-arrow {filter: var(--color-filter-gray);}


@media screen and (max-width: 1800px) {
    .col3 {
        flex: 1 1;
    }
}

@media screen and (max-width: 1600px) {
    .col3 {
        flex: 1 1;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        display: block;
    }

    .container > div:not(:last-child) {
        border-right: none;
        margin-bottom: 2.5rem;
    }

    .col3 {
        flex: 1 1;
    }
}

@media screen and (max-width: 600px) {
    .flex {
        display: block;
    }
}
